<%= turbo_frame_tag contestant do %>
  <li class="py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600">
    <%= render "activity/votes", contestant: contestant %>
    <h3 class="text-sm text-gray-400"><%= contestant.location %></h3>
  </li>
<% end %>
