<table class="border-collapse table-auto w-full text-sm">
  <thead>
    <tr>
      <th class="border-b p-4 font-medium">audience id</th>
      <th class="border-b p-4 font-medium">name</th>
      <th class="border-b p-4 font-medium">username</th>
      <th class="border-b p-4 font-medium">round id</th>
    </tr>
  </thead>
  <tbody class="bg-white dark:bg-slate-800 dark:text-white">
    <% @audiences.each do |audience| %>
      <tr>
        <td class="border-b p-4 font-medium"><%= audience.id %></td>
        <td class="border-b p-4 font-medium"><span class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= audience.name %></span></td>
        <td class="border-b p-4 font-medium"><%= audience.user.username %></td>
        <td class="border-b p-4 font-medium"><%= audience.round.another_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
