<div class="max-w-md mx-auto mt-5">
  <h2 class="text-2xl font-semibold mb-4">Start your own round</h2>

  <%= form_with model: @round, url: rounds_path, method: :post, class: "space-y-4" do |f| %>
    <div>
      <%= f.label :title, class: "block text-gray-600 font-semibold" %>
      <%= f.text_field :title, class: "border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:border-blue-300" %>
    </div>

    <div>
      <%= f.submit "Start", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring focus:border-blue-300" %>
    </div>
  <% end %>
</div>
